<div class="product"
  [ngStyle]="styleConfig"
  [ngClass]="{'border-green' : product.price < 50}">
  <ul>
    <li>Id: {{ product.id }}</li>
    <li class="nameAttribute">Name: {{ product.name }}</li>
    <li>Preis: {{product.price | currency: "EUR": 'code'}}</li>
    <li>Preis: {{product.price | netto: 16: "netto" | currency: "EUR"}}</li>
    <li *ngIf="showWeight">Gewicht: {{ product.weight }}</li>
  </ul>
  <ng-content></ng-content>
  <button mat-stroked-button (click)="raisePrice()">Preiserhöhung</button>
  <button mat-stroked-button (click)="lowerPrice()">Preisreduzierung</button><br>
  <button mat-stroked-button (click)="toggleWeight()">Gewicht ein- bzw.ausblenden</button>
</div>
